.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
Navbar>Nav.Link{
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.comment-textarea{
  width: 100%;
  max-width: 600px;
  height: 150px;
  padding: 15px;
  border: 3px solid rgb(235, 93, 93);
  box-shadow: 0 4px 8px rgba(0,0, 0,0.1);
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;

}
.comment-textarea:hover:focus
{
  border-color:#ffffff;
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.6);
}
#Appbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  text-align:center;
}
.navv{
  text-align: center;
  
}